
.card {

  &__content {
    border: 1px solid gray;
    padding: 2rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 200;
  }

  &__new-task {
    opacity: 0;
    transition: all .4s;
    position: absolute;
    color: $color-aqua;
    margin-bottom: 2rem;
  }

  &__field {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  &__input {
    height: 3.5rem;
    width: 50%;
    color: inherit;
    border: none;
    border-bottom: 1px solid $color-light;

    &:focus::placeholder {
      color: transparent;
    }

    &:focus {
      border-bottom: 2px solid $color-aqua;
    }
  }

  &__input:focus + &__new-task {
    opacity: 1;
    transform: translateY(-2rem) translateX(1rem) scale(1.5);
  }

  &__action {
    border: 1px solid gray;
    border-top: none;
    padding: 2rem;
  }

  &__title {
    margin-top: 0;
  }

  &__add-btn {
    padding: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $color-aqua;
  }

  &__clear-tasks {
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 200;
    background-color: black;
  }

  .btn {
    width: 10rem;
    border-radius: 10rem;
    color: white;
    box-shadow: 2px 2px 3px $color-light;
    margin-top: 2rem;
    

    &:active {
      transform: translateX(.2rem) translateY(.2rem);
      box-shadow: none;
    }
  }

  &__collection {
    list-style: none;
    padding: 0;

    &-item {
      display: flex;
      justify-content: space-between;
      width: 50%;
      padding: 1rem;
      font-size: 1.6rem;
      border: 1px solid $color-light;
    }
  }

  &__delete {
    text-decoration: none;
    font-weight: bold;
    color: $color-aqua;
    transition: all .2s;

    &:hover {
      color: lighten($color-aqua, 20%);
    }
  }

  
}